<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </configSections>
	<connectionStrings>
  <add name="ConnectionString_WOSSQLCLUSTER_ERCOTNodal" connectionString="Server=wossqlcluster.wosrpt.us;Database=ERCOTNodal;User ID=sa-ercotnodal;Password=3rc0tn0d@l" providerName="System.Data.SqlClient" />
  <add name="ConnectionString_PDXSQL08_EMSWEB" connectionString="Server=pdxsql08.wosrpt.us;Database=logging;User ID=sa-emsweb;Password=3m$W3b01" providerName="System.Data.SqlClient" />
  <add name="ConnectionString_PDXSQL08_EMS" connectionString="Server=pdxsql08.wosrpt.us;Database=EMS;User ID=sa-emsweb;Password=3m$W3b01" providerName="System.Data.SqlClient" />
  
  <add name="ConnectionString_PDXSQL03_EMSWEB" connectionString="Server=pt1-sv-ds1.wosrpt.us;Database=master;User ID=sa-emsweb;Password=3m$W3b01" providerName="System.Data.SqlClient" />
 
  
  <add name="ConnectionString_PDXSQL03_WOS" connectionString="Server=pdxsql03.wosrpt.us;Database=WOS;User ID=sa-emsweb;Password=3m$W3b01" providerName="System.Data.SqlClient" />
    <add name="ConnectionString_PDXSQL03_PI" connectionString="Server=pdxsql03.wosrpt.us;Database=PI;User ID=sa-emsweb;Password=3m$W3b01" providerName="System.Data.SqlClient" />
    <add name="ConnectionString_PDXSQL03_JIRA" connectionString="Server=pdxsql03.wosrpt.us;Database=Jira;User ID=sa-emsweb;Password=3m$W3b01" providerName="System.Data.SqlClient" />

   	<add name="ConnectionString_ORAPDX" connectionString="Data Source=PT1-SV-ORACLE02;User ID=HIS;Password=HIS" providerName="System.Data.OracleClient" />
   	<add name="ORAPDX" connectionString="Data Source=PT1-SV-ORACLE02;User ID=HIS;Password=HIS" providerName="System.Data.OracleClient" />
	
  <add name="ConnectionString_PDXSQL08_EMSWEB_SSPI" connectionString="Server=pdxsql08.wosrpt.us;Database=EMSWEB;Integrated Security=SSPI;Network Library=DBMSSOCN;" providerName="System.Data.SqlClient" />
  <add name="ConnectionString_PDXSQL03_EMSWEB_SSPI" connectionString="Server=pdxsql03.wosrpt.us;Database=master;Integrated Security=SSPI;Network Library=DBMSSOCN;" providerName="System.Data.SqlClient" />
  <add name="ConnectionString_SITE_CIP_SSPI" connectionString="Server=pdxsql08.wosrpt.us;Database=EMSWEB;Integrated Security=SSPI;Network Library=DBMSSOCN;" providerName="System.Data.SqlClient" />
  <add name="ConnectionString_SITE_CORE_SSPI" connectionString="Server=PT1-SV-SQLCL1.wosrpt.us;Database=CORE;Integrated Security=SSPI;Network Library=DBMSSOCN;" providerName="System.Data.SqlClient" />
  <add name="ConnectionString_SITE_WOS_SSPI" connectionString="Server=pdxsql03.wosrpt.us;Database=WOS;Integrated Security=SSPI;Network Library=DBMSSOCN;" providerName="System.Data.SqlClient" />
  <add name="ConnectionString_SITE_PI_SSPI" connectionString="Server=pdxsql03.wosrpt.us;Database=PI;Integrated Security=SSPI;Network Library=DBMSSOCN;" providerName="System.Data.SqlClient" />
  <add name="ConnectionString_SITE_Availability_SSPI" connectionString="Server=pdxsql03.wosrpt.us;Database=Availability;Integrated Security=SSPI;Network Library=DBMSSOCN;" providerName="System.Data.SqlClient" />
  <add name="IBRCORPConnectionString" connectionString="Data Source=PDXSQL08;Initial Catalog=IBRCORP;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
  <add name="PDXSQL03WOSConnection" connectionString="Data Source=PDXSQL03;Initial Catalog=WOS;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
  <add name="DataShipping" connectionString="Server=pdxsql03;Database=DataShipping;User ID=DataShippingWebUser;Password=1qazXSW@" />
 </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.1" />
    <httpRuntime targetFramework="4.7.1" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1"> 
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
      </dependentAssembly>      
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>